<html>
  <head>
    <title>Russ Heddleston</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />    
    <%= css :main %>
  </head>
  <body>
    <div id="bg"></div>    
    <div id="greeting">
      <span>R u s s    H e d d l e s t o n</span>      
    </div>
    <h2>
      <span class='spacer'></span><span id="bgCap">photo:<span class='spacer'></span><br /><span class='spacer'></span>
      <a href="#"></a>
      </span>
    </h2>
    <div id="links">
      <div id="about">
        <span class="under">also on</span>
      </div>
      <div class="findme">
      <a href="http://www.facebook.com/rh">♠ facebook</a>
      <br>
      <a href="http://www.linkedin.com/in/heddleston">♣ linkedin</a>
      <br>
      <a href="http://instagram.com/rheddleston">♥ instagram</a>
      </div>
    </div>    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <%= js :main %>
    <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22932858-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>